﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web;
@{
    var site = Model.Root();
    var selection = site.Children.Where(x => x.ContentType.Alias != "main" && x.IsVisible());
}
@foreach (var item in site.Children)
{
    <div>
        @if (item.Children.Any() && item.ContentType.Alias == "topic" && (bool)item.Value("showItemInTheMenu"))
        {
            <div class="has-child">
                <a class="nav-link menu-engie @(item.IsAncestorOrSelf(site) ? "nav-link--active" : null)">@item.Name</a>
                @{
                    ChildPages(item.Children);
                }
            </div>

        }
        else if (item.Value<bool>("showItemInTheMenu"))
        {
            <a class="nav-link menu-engie @(item.IsAncestorOrSelf(site) ? "nav-link--active" : null)" href="@item.Url()">@item.Name</a>
        }

    </div>

}
<div style="margin-bottom: 120px;">
    <a class="nav-link menu-engie" href="@site.Url()">
        <img src="~/images/ic_home_24px.svg" class="svg" />
    </a>
</div>

@functions {
    private void ChildPages(IEnumerable<IPublishedContent> pages)
    {
        var submenu = 0;
        @* Ensure that we have a collection of pages *@
        if (pages.Any())
        {
            @* Get the first page in pages and get the level *@
            var naviLevel = pages.First().Level;

            @* Add in level for a CSS hook *@
            <ul class="sublevel level-@(naviLevel) @(pages.First().Parent.Id)">

                @foreach (var pageItem in pages)
                {
                    submenu++;
                    if (pageItem.Value<bool>("showItemInTheMenu"))
                    {

                        <li class="@(pageItem.IsAncestorOrSelf(Model.Root()) ? "selectedSub" : null) sub-menu-engie">
                            <a href="@pageItem.Url()">@pageItem.Name</a>
                        </li>
                    }
                }
            </ul>
        }
    }
}



<style>
    .sublevel {
        display: none;
    }

    .menuClicked {
        display: block;
        text-align: left;
        list-style-type: none;
    }

</style>



<script>
    $('.has-child').on('click', function () {
        //        $('.menuClicked').parent().removeClass('selected');
        //        $('.menuClicked').removeClass('menuClicked');
        //        $(this).children('.sublevel').addClass('menuClicked');
        //        $(this).addClass('selected');

        $(this).children('.sublevel').toggleClass('menuClicked');
    });


    jQuery('img.svg').each(function () {
        var $img = jQuery(this);
        var imgID = $img.attr('id');
        var imgClass = $img.attr('class');
        var imgURL = $img.attr('src');

        jQuery.get(imgURL, function (data) {
            // Get the SVG tag, ignore the rest
            var $svg = jQuery(data).find('svg');

            // Add replaced image's ID to the new SVG
            if (typeof imgID !== 'undefined') {
                $svg = $svg.attr('id', imgID);
            }
            // Add replaced image's classes to the new SVG
            if (typeof imgClass !== 'undefined') {
                $svg = $svg.attr('class', imgClass + ' replaced-svg');
            }

            // Remove any invalid XML tags as per http://validator.w3.org
            $svg = $svg.removeAttr('xmlns:a');

            // Replace image with new SVG
            $img.replaceWith($svg);
        }, 'xml');
    });
</script>