﻿/* Style the tab */
div.tab {
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #f1f1f1;
    margin-top:10px;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ccc;
    min-width: 200px;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #ccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 1px solid #ccc;
}

/* Style the tab content */
.tabcontent {
    /*display: none;*/
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

.dropdown{
    margin-top:20px;
}

#dropdownMenu1{
    /*background: white;
    color: #00aaff;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    width: 200px;*/

    height:40px;
    width:200px;
    /*background:white;*/
    color:black;
}

#dropdownMenu1:hover{
    color:#00aaff;
}

.dropdown ul li{
    cursor: pointer;
}

.dropdown ul li a:hover{
    color:#00aaff;
}

#searchInput{
    min-width:200px;
    width:50%;
    border-top-right-radius:0;
    border-bottom-right-radius:0
}

#searchAddon{
    color: black;
}

#searchAddon:hover{
    color: #00aaff;
    cursor:pointer;
}

@media (max-width:767px){
    #searchInput{
        width: 100%;
        min-width: 150px;
    }

    .dropdown{
        margin-top: 0;
        margin-bottom: 20px;
    }
}