@font-face {
    font-family: "Clan Bold";
    src: url("/font-clan/ClanBold/ClanBold.eot?#iefix");
    src: url("/font-clan/ClanBold/ClanBold.eot?#iefix") format("eot"), url("/font-clan/ClanBold/ClanBold.woff2") format("woff2"), url("/font-clan/ClanBold/ClanBold.woff") format("woff"), url("/font-clan/ClanBold/ClanBold.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Bold Italic";
    src: url("/font-clan/ClanBold/ClanBoldItalic.eot?#iefix");
    src: url("/font-clan/ClanBold/ClanBoldItalic.eot?#iefix") format("eot"), url("/font-clan/ClanBold/ClanBoldItalic.woff2") format("woff2"), url("/font-clan/ClanBold/ClanBoldItalic.woff") format("woff"), url("/font-clan/ClanBold/ClanBoldItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Medium";
    src: url("/font-clan/ClanMedium/ClanMedium.eot?#iefix");
    src: url("/font-clan/ClanMedium/ClanMedium.eot?#iefix") format("eot"), url("/font-clan/ClanMedium/ClanMedium.woff2") format("woff2"), url("/font-clan/ClanMedium/ClanMedium.woff") format("woff"), url("/font-clan/ClanMedium/ClanMedium.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Medium Italic";
    src: url("/font-clan/ClanMedium/ClanMediumItalic.eot?#iefix");
    src: url("/font-clan/ClanMedium/ClanMediumItalic.eot?#iefix") format("eot"), url("/font-clan/ClanMedium/ClanMediumItalic.woff2") format("woff2"), url("/font-clan/ClanMedium/ClanMediumItalic.woff") format("woff"), url("/font-clan/ClanMedium/ClanMediumItalic.ttf") format("truetype");
}


@font-face {
    font-family: "Clan Book";
    src: url("/font-clan/ClanBook/ClanBook.eot?#iefix");
    src: url("/font-clan/ClanBook/ClanBook.eot?#iefix") format("eot"), url("/font-clan/ClanBook/ClanBook.woff2") format("woff2"), url("/font-clan/ClanBook/ClanBook.ttf") format("truetype");
}

@font-face {
    font-family: "Clan Book Italic";
    src: url("/font-clan/ClanBook/ClanBookItalic.eot?#iefix");
    src: url("/font-clan/ClanBook/ClanBookItalic.eot?#iefix") format("eot"), url("/font-clan/ClanBook/ClanBookItalic.woff2") format("woff2"), url("/font-clan/ClanBook/ClanBookItalic.woff") format("woff"), url("/font-clan/ClanBook/ClanBookItalic.ttf") format("truetype");
}

@font-face {
    font-family: "Clan News";
    src: url("/font-clan/ClanNews/ClanNews.eot?#iefix");
    src: url("/font-clan/ClanNews/ClanNews.eot?#iefix") format("eot"), url("/font-clan/ClanNews/ClanNews.woff2") format("woff2"), url("/font-clan/ClanNews/ClanNews.woff") format("woff"), url("/font-clan/ClanNews/ClanNews.ttf") format("truetype");
}

@font-face {
    font-family: "Clan News Italic";
    src: url("/font-clan/ClanNews/ClanNewsItalic.eot?#iefix");
    src: url("/font-clan/ClanNews/ClanNewsItalic.eot?#iefix") format("eot"), url("/font-clan/ClanNews/ClanNewsItalic.woff2") format("woff2"), url("/font-clan/ClanNews/ClanNewsItalic.woff") format("woff"), url("/font-clan/ClanNews/ClanNewsItalic.ttf") format("truetype");
}


body {
    margin: 0px !important;
    font-family: 'Clan Book';
    font-size: 16px;
    background: #ededed;
}

.containerEngie {
    width: 100%;
    /*max-width: 1440px;*/
    margin-left: auto;
    margin-right: auto;
}

.customContainer {
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

.splash {
    height: 500px;
    background-size: cover;
    background-position: center;
    padding: 0;
    width: 100%;
    position: relative;
}


#Logo {
    /*margin-left: 60px;*/
    /*margin-top: 10px;*/
    margin-top: -15px;
    width: 142px;
}

#Title {
    color: white;
    font-size: 37px;
    padding-left: 80px;
    /*padding-top: 145px;*/
    bottom: 85px;
    position: absolute;
}

    /*#Title > h1 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 30px;
            font-family:ClanPro-Thin;
        }

        #Title > h2 {
            margin-top: 0px;
            margin-bottom: 0px;
            font-size: 30px;
            font-family:ClanPro-Thin;
        }*/

    #Title > h2 {
        font-size: 20px;
        margin-top: 10px;
    }

    #Title:before {
        content: '';
        display: block;
        background: #fff;
        border-radius: 8px;
        display: block;
        height: 8px;
        width: 100px;
        margin: 0 0 20px 0;
    }

    #Title:after {
        content: '';
        display: block;
        background: #fff;
        border-radius: 8px;
        display: block;
        height: 8px;
        width: 100px;
        margin: 20px 0 0 0;
    }

.bottompart {
    margin-top: 40px;
    background-color: white;
    float: left;
}

.contentTitle {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

.square {
    padding: 5px;
    /*min-height: 765px;*/
    background-color: white;
    color: #666;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    /*font-family:ClanPro-News;*/
    /*font-family: ClanPro-Book;*/
    font-family: 'Clan Book';
}

#imagerow {
    max-width: 1045px;
    width: 100% !important;
}

.squaretitle {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 1.2em;
    color: #00AEEF;
}

    .squaretitle:before {
        /*background: #666;*/
        border-radius: 8px;
        content: "";
        display: block;
        height: 8px;
        margin-bottom: 20px;
        margin-top: 20px;
        width: 112px;
        background: #00AEEF;
    }



.squaretext, .squaresubtitle {
    font-size: 16px;
    margin-bottom: 10px;
}

.noselect {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#bottomLine {
    background-color: white;
    width: 100%;
    /*float: left;*/
    /*padding-left: 60px;
    padding-right: 60px;*/
    padding-bottom: 40px;
    padding-top: 20px;
}

    #bottomLine > h3 {
        /*font-family: ClanPro-Book;*/
        font-family: 'Clan Book';
        font-size: 20px;
    }

    #bottomLine > img {
        width: 100%;
    }

#bottomLinks {
    padding-top: 20px;
    padding-bottom: 20px;
}

#engiehomelink {
    text-align: right;
    display: inline;
    /* margin-top: 50px; */
    padding-top: 17px;
    float: left;
}

#bottomLinks a {
    color: #afafaf;
}

    #bottomLinks a:hover {
        color: #23527c;
    }


#Linkedin {
    text-align: right;
    width: 50%;
    float: right;
    display: inline;
    border: solid 2px #afafaf;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    margin: 1px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

h3 {
    margin-bottom: 0px;
    padding-bottom: 20px;
}

.mask {
    background: rgba(0,0,0,0.25);
    width: 100%;
    height: 100%;
    position: relative;
}



.header {
    position: fixed;
    /*background-color: white;*/
    background-color: transparent;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 2;
    top: 0;
}


.top-nav {
    position: absolute;
    right: 80px;
}

    .top-nav > a {
        padding-left: 10px;
        padding-right: 10px;
        color: white;
    }

        .top-nav > a:hover {
            color: white;
        }

.mobile-nav {
    display: none;
    position: relative;
}

.nav-container {
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}




/**********************************************
             Start Menu Hamburguer
***********************************************/
.btn-menu-scroll-colors {
    color: #a4a4a4 !important;
    border-color: #a4a4a4 !important;
}
.btn-menu-active-colors {
    color: #FFF !important;
    border-color: #FFF !important;
}

.btn-hamburguer-menu {
    position: absolute;
    right: 30px;
    top: 14px;
    z-index: 2;
    border: 1px solid #FFF;
    border-radius: 15px;
    padding: 10px;
    color: #FFF;
    cursor: pointer;
    font: .75em "Clan Bold",sans-serif;
    display: -webkit-inline-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#hamburger-icon {
    margin-left: 10px;
    width: 25px;
    height: 10px;
    position: relative;
    display: block;
}

    #hamburger-icon .line {
        display: block;
        background: #ecf0f1;
        width: 20px;
        height: 0.10em;
        position: absolute;
        left: 0;
        border-radius: 4px;
        transition: all 0.4s;
        -webkit-transition: all 0.4s;
        -moz-transition: all 0.4s;
    }

        #hamburger-icon .line.line-1 {
            top: 0;
        }

        #hamburger-icon .line.line-2 {
            top: 50%;
        }

        #hamburger-icon .line.line-3 {
            top: 100%;
        }
    /**  When Hover on MENU  **/
    #hamburger-icon:hover .line-1, #hamburger-icon:focus .line-1 {
        transform: translateY(-2px);
        -webkit-transform: translateY(-2px);
        -moz-transform: translateY(-2px);
    }

    #hamburger-icon:hover .line-3, #hamburger-icon:focus .line-3 {
        transform: translateY(2px);
        -webkit-transform: translateY(2px);
        -moz-transform: translateY(2px);
    }
    /**  When Active on MENU  **/
    #hamburger-icon.active .line-1 {
        transform: translateY(5px) translateX(0) rotate(45deg);
        -webkit-transform: translateY(5px) translateX(0) rotate(45deg);
        -moz-transform: translateY(5px) translateX(0) rotate(45deg);
    }

    #hamburger-icon.active .line-2 {
        opacity: 0;
    }

    #hamburger-icon.active .line-3 {
        transform: translateY(-5px) translateX(0) rotate(-45deg);
        -webkit-transform: translateY(-5px) translateX(0) rotate(-45deg);
        -moz-transform: translateY(-5px) translateX(0) rotate(-45deg);
    }
/**********************************************
            End Menu Hamburguer
***********************************************/





/**********************************************
             Start Breadcrumb Navigation
***********************************************/
.breadcrumbs {
    float: left;
    width: 75%;
    margin-bottom: 1em;
    position: relative;
    z-index: 1;
}

    .breadcrumbs a {
        color: #a5a2a2;
        font-size: 12px;
        font-family: Clan Bold;
    }

    .breadcrumbs span {
        color: #000000;
        font-size: 12px;
    }
/**********************************************
            End Breadcrumb Navigation
***********************************************/




/**********************************************
           Start Card Linkedin
***********************************************/
.card-engie {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
}

    .card-engie:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

.card-body-engie {
    padding: 2px 16px;
}

/**********************************************
            End Card Linkedin
***********************************************/


.footer {
    bottom: 0;
}

.title-engie {
    font-family: 'Clan Bold';
    font-size: 52px;
}

.subContainerHeaderLeft {
    font-family: 'Clan Bold';
    float: left;
    font-size: 26px;
    color: #00aaff;
}

.menu-engie {
    font-family: 'Clan Bold';
    font-size: 18px;
}

.sub-menu-engie {
    font-family: 'Clan Medium';
}

.h2, .h3, .h4, h2, h3, h4 {
    font-family: 'Clan Medium';
}

.h1, h1 {
    font-family: 'Clan Bold';
}


.bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 3px);
    transform: rotate(-45deg) translate(-5px, 3px);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


#nav-logo-container, .top-nav {
    display: inline;
}

#nav-logo-container {
    padding-left: 60px;
}




.nav-link {
    cursor: pointer;
}

.stickytop {
    background-color: white;
    transition-duration: 0.4s;
    box-shadow: 0px 1px 3px #e8e8e8;
}

.blue {
    /*color:#00AEEF !important;*/
    color: #337ab7;
    cursor: pointer;
}

svg {
    fill: #337ab7 !important;
}

svg:hover path{
    fill: #000000;
}

.bluebk {
    background-color: #337ab7 !important;
}

.mobile-nav .nav-bar {
    position: absolute;
    color: white;
    /*background-color: lightblue;*/
    background-color: #00aaff;
    width: 400px;
    right: 15px;
    margin-top: -100px;
    padding-top: 70px;
    padding-bottom: 50px;
    box-shadow: -4px 0px 40px black;
}

    .mobile-nav .nav-bar > div {
        margin-top: 20px;
        padding-left: 20px;
    }


.sublevel a {
    color: white;
    text-align: left;
    margin-top: 20px;
}

.sublevel li {
    margin-top: 20px;
}



.youtube-player iframe {
    width: 100%;
    height: 65vh;
}

.block-youtube-player {
    padding-left: 0px;
    padding-right: 0px;
    height: 220px;
}




    .block-youtube-player iframe {
        height: 100%;
        width: 100%;
    }

.block-image {
    background-size: cover;
    min-height: 220px;
    height: 100%;
    cursor: pointer;
    overflow: hidden;
    padding-right: 15px;
    padding-left: 15px;
}

.blockTitle {
    margin-top: 40px;
    font-size: 26px;
    font-family: 'Clan Bold';
    color: white;
}

.blockSubTitle {
    font-family:'Clan Medium';
    font-size: 18px;
    color: white;
}

.blockText {
    margin-top: 10px;
    color: white;
    font-family: 'Clan Book';
    font-size: 15px;
}

a:hover, a:focus {
    color: initial;
    text-decoration: initial;
}


.stockmarket-container {
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.stockmarket {
    height: 300px;
    background-color: #005192;
    color: white;
    padding-top: 30px;
}

    .stockmarket div {
        text-align: center;
    }

.stockmarket-title {
    text-align: center;
    font-size: 23px;
    font-family: 'Clan Bold';
    margin-bottom: 30px;
}

.stockmarket-pricecontainer {
    font-size: 48px;
}


.stockmarket-legend {
    font-family: 'Clan Bold';
    font-size: 16px;
}


.stockmarket-graph {
    margin-top: 30px;
    display: none;
}

    .stockmarket-graph > img {
        max-width: 100%;
    }


.small-icon {
    margin-right: 10px;
}


.map {
    padding: 0px;
}

.Terratype > div {
    height: 300px;
}

[id^="TerratypeGoogleMaps"] {
    height: 300px !important;
}


#leftarrow {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#rightarrow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}


.contacts-container {
    padding: 0px;
}


.contacts {
    background-color: white;
    height: 300px;
    padding-top: 40px;
}

#contact-header {
    display: none;
    height: 100px;
    background-color: #552F6B;
    color: white;
    text-align: center;
    padding-top: 30px;
    font-size: 23px;
    /*font-family: ClanPro-Thin;*/
    font-family: 'Clan Book';
}

.contact-block {
    padding-top: 30px;
    border-bottom: 1px solid #afafaf;
    color: #afafaf;
}

    .contact-block > a {
        color: #afafaf;
    }



.mediumblock {
    /*height:320px;*/
    height: 500px;
}



.layout-richtext {
    /*padding: 15px;*/
}

    .layout-richtext, .layout-richtext p {
        font-size: 14px;
        /*font-family: ClanPro-Medium;*/
        font-family: 'Clan Medium';
    }


.blockright {
    padding-left: 10px;
}

.blockleft {
    padding-right: 10px;
}

.profilingblock {
    position: relative;
    z-index: 1;
    margin-top: -40px;
}

.profilingblockitem {
    display: inline;
    float: left;
    min-width: 155px;
    background-color: #1da055;
    color: white;
    cursor: pointer;
    height: 70px;
    text-align: center;
    padding-top: 28px;
    font-size: 16px;
}

#profilingblockitemHeader {
    cursor: default;
    font-weight: bold;
}

.profilingblockitem:hover {
    background-color: #20b25f;
}

#profilingblockitemHeader {
    background-color: #20b25f;
}

.profilingblock a, .profilingblock a:hover {
    color: white;
}

img {
    max-width: 100%;
}

/* --------------------------- IMAGES --------------------------- */

.fitImage {
    width: 100%;
    height: 100%;
}

.fitImageCover {
    /*object-fit: cover;*/
    /*position: relative !important;*/
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

.fitImageContain {
    /*object-fit: contain;*/
    /*position: relative !important;*/
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

.fitImageSponsor {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    height: 200px;
}

.fitImageLeft {
    background-position: left center !important;
}

.fitImageCenter {
    background-position: center center !important;
}

.fitImageRight {
    background-position: right center !important;
}

.fitImageTop {
    background-position: center top !important;
}




@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0,100%,0);
        transform: translate3d(0,100%,0)
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: fadeInUp;
    animation-duration: 1s;
    z-index: 2000;
}


/**********************************************
           Start General
***********************************************/
.mr-bottom {
    margin-bottom: 15px;
}
.mr-top {
    margin-top: 15px;
}


.subContainerHeader {
    font-size: 18px;
    letter-spacing: 0.1em;
    display: inline-block;
    width: 100%;
    padding-bottom: 14px;
    margin-bottom: 25px;
}

    .subContainerHeader:before {
        background: #00aaff;
        border-radius: 8px;
        content: "";
        display: block;
        height: 8px;
        margin-bottom: 12px;
        width: 112px;
    }
/**********************************************
            End General
***********************************************/


/**********************************************
           Start Footer
***********************************************/
.footer .full-bar {
    width: 100%;
    background-color: #ededed;
    height: 6px;
    border-radius: 6px;
}

.footer .signature {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
}

.footer .gray {
    font-family: "Clan Bold";
    color: gray;
}

/**********************************************
            End Footer
***********************************************/

/**********************************************
           Start View News Repository
***********************************************/

.news-title-preview, .news-title-preview a {
    font-family: "Clan Bold";
    font-size: 18px;
    margin-bottom: 5px;
    color: #000;
}

    .news-title-preview a:hover {
        color: #337ab7;
    }

.news-body-preview, .news-body-preview p {
    font-size: 14px;
    font-family: "Clan News";
    margin-bottom: 5px;
}

.news-date-preview {
    font-family: "Clan Bold Italic";
    font-size: 10px;
}

.news-full-bar-preview {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
}

/* Start Pagination */
.pagination-disable {
    text-decoration: none;
    cursor: default;
    pointer-events: none;
    background-color: #ddd;
}

.pagination {
    display: inline-block;
}

    .pagination a:first-child {
        border-radius: 25px 0px 0px 25px;
    }

    .pagination a:last-child {
        border-radius: 0px 25px 25px 0px;
    }

    .pagination a {
        color: black;
        float: left;
        padding: 8px 16px;
        text-decoration: none;
        transition: background-color .3s;
        border: 1px solid #ddd;
    }

        .pagination a.active {
            background-color: #0af;
            color: white;
            border: 1px solid #0af;
        }

        .pagination a:hover:not(.active) {
            background-color: #ddd;
        }
/* End Pagination */

/**********************************************
            End View News Repository
***********************************************/

/**********************************************
           Start View News Item
***********************************************/

.btn-back-news {
    background-color: transparent;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #0af;
    display: inline-block;
    cursor: pointer;
    color: #0af;
    font-size: 12px;
    padding: 10px 22px;
    text-decoration: none;
}

    .btn-back-news:hover {
        background-color: #0af;
        color: #FFF;
    }

    .btn-back-news:active {
        position: relative;
        top: 1px;
    }

/**********************************************
            End View News Item
***********************************************/


@media (max-width: 1024px) {
    .profilingblockitem {
        width: 100%;
    }

    .square {
        min-height: initial;
    }

    .containerEngie {
        width: 100%;
    }

    .top-nav {
        display: none;
    }
}

@media(max-width:1230px){
    .customContainer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media (max-width: 992px) {

    /*.optionalblock, .mediumblockgeneral, .stockmarket-inner-container {
        padding: 0px !important;
    }*/
    /*.square {
            min-height: initial;
         }

        .container{
            width: initial;
        }

        .top-nav{
            display:none;
        }*/

    .splash {
        height: 400px;
    }

    #Title {
        bottom: 40px;
    }
}

@media (max-width: 768px) {
    .card-engie {
        text-align: center;
        margin-top: 25px;
    }

    .text-center, .list-unstyled {
        text-align: center !important;
    }
}

@media (max-width: 480px) {
    .nav-bar {
        width: 100% !important;
        padding-left: 20px;
        overflow: auto;
        height: calc(100vh + 100px);
    }

    .stockmarket-pricecontainer {
        font-size: 40px;
    }

    #nav-logo-container, #Title {
        padding-left: 10px;
    }

    .splash {
        height: 250px;
    }

    #Title {
        bottom: 30px;
    }

    .card-img-top {
        width: 100%;
        height: 240px;
    }

    .title-engie {
        font-size: 23px;
    }

}

@media only screen and (min-width : 320px) {
    .nav-bar-extend {
        overflow: auto;
        height: calc(100vh + 110px);
    }
}
