﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<div class="breadcrumbs">
    @{
        var first = 0;
        foreach (var pageItem in Model.AncestorsOrSelf().Where(x => x.IsVisible()).Reverse())
        {

            if (pageItem.TemplateId != 0)
            {
                <a href="@pageItem.Url()">@pageItem.Name</a><span>@(first==0 ? " > " : "")</span>
            }
            else
            {
                <a>@pageItem.Name</a> <span>@(first==0 ? " > " : "")</span>
            }
            first++;
        }

    }
</div>
