﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    var page = (IPublishedContent)ViewBag.page;
    bool showHeader = false;
    try {
        showHeader = page.Value<bool>("showSectionHeader");
    }
    catch (Exception) { }

    string youtubeVideoID = "";
    try
    {
        youtubeVideoID = page.Value("sectionHeaderYoutubeVideoID").ToString();
    }
    catch (Exception) { }

    string backgroundImage_url = "";
    try
    {
        backgroundImage_url =  page.Value<IPublishedContent>("sectionHeaderBackgroundImage").Url();
    }
    catch (Exception) { }
    string fontColor = "000000";
    try
    {
    fontColor = page.Value("sectionHeaderFontColor").ToString();
    fontColor = fontColor == "" ? "000000" : fontColor;
    }
    catch (Exception) { }
    string backgroundColor = "ffffff";
    try
    {
    backgroundColor = page.Value("sectionHeaderBackgroundColor").ToString();
    backgroundColor = backgroundColor == "" ? "ffffff" : backgroundColor;
    }
    catch (Exception) { }

    string title = "";
    try
    {
    title = page.Value("sectionHeaderTitle").ToString();
    }
    catch (Exception) { }

    }

    @try {

    if (showHeader) {
    if (youtubeVideoID != "") {
    var url = "https://www.youtube.com/embed/" + youtubeVideoID + "?rel=0";
    <div class="youtube-player" style="position: relative;">
        <iframe src=@url frameborder="0" allowfullscreen></iframe>
    </div>
    }
    else if (backgroundImage_url != "") {
    <section class="splash" style="background-image:url('@backgroundImage_url')">
        <div class="mask">
            @if (title != "")
            {
            <div class="contentTitle">
                <div id="Title" style="color:#@fontColor">
                    <h1 class="title-engie">@title</h1>
                </div>
            </div>
            }
        </div>
    </section>
    }
    else {
    <section class="splash section section--full-height background-image-full overlay overlay--dark section--content-center section--thick-border" style="background:#@(backgroundColor)">
        <div id="Title" style="color:#@fontColor">
            <div class="contentTitle">
                <h1>@title</h1>
            </div>
        </div>
    </section>
    }
    }
    }


    catch (Exception e) {
    }

