﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    var pageItem = (IPublishedContent)ViewBag.page;
    string youtubeVideoID = "";
    try
    {
        youtubeVideoID = pageItem.Value<String>("scYoutubeVideoID");
    }
    catch (Exception e) { }

    string backgroundImage_url = "";
    try
    {
        backgroundImage_url = pageItem.Value<IPublishedContent>("scBackgroundImage").Url();
    }
    catch (Exception e) { }

    string fontColor = "000000";
    try
    {
        fontColor = pageItem.Value<String>("scFontColor");
        fontColor = fontColor == "" ? "000000" : fontColor;
    }
    catch (Exception) { }

    string backgroundColor = "ffffff";
    try
    {
        backgroundColor = pageItem.Value<String>("scBackgroundColor");
        backgroundColor = backgroundColor == "" ? "ffffff" : backgroundColor;
    }
    catch (Exception) { }

    string title = "";
    try
    {
        title = pageItem.Value<String>("scTitle");
    }
    catch (Exception) { }

    string subTitle = "";
    try
    {
        subTitle = pageItem.Value<String>("scSubTitle");
    }
    catch (Exception) { }

    string text = "";
    try
    {
        text = pageItem.Value<String>("scText");
    }
    catch (Exception) { }

    string videoUrl = "";
    try
    {
        videoUrl = pageItem.Value<IPublishedContent>("urlVideoPlayer").Url();
    }
    catch (Exception) { }

}

@try
{
    <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
        @if (youtubeVideoID != "")
        {
            var url = "https://www.youtube.com/embed/" + youtubeVideoID + "?rel=0";

            <div class="youtube-player" style="position: relative;height: 220px;">
                <iframe src=@url frameborder="0" allowfullscreen style="height: 220px;"></iframe>
            </div>
        }
        else if (backgroundImage_url != "")
        {
            <a href="@pageItem.Url()">
                <div class="block-image" style="background-image:url('@backgroundImage_url')">
                    <div class="blockTitle" style="color:#@fontColor">@title</div>
                    <div class="blockSubTitle" style="color:#@fontColor">@subTitle</div>
                    <div class="blockText" style="color:#@fontColor">
                        @Html.Raw(@text)
                    </div>
                </div>
            </a>
        }
        else if (videoUrl != "")
        {
            
            <div class="wrapper" style="position: relative;height: 220px;">
                <video style="height:220px;width:100%;background-color: black;" controls>
                    @if (videoUrl.Contains(".mp4"))
                    {
                        <source src="@videoUrl" type="video/mp4">
                    }
                    else if (videoUrl.Contains(".ogg"))
                    {
                        <source src="@videoUrl" type="video/ogg">
                    }
                    else if (videoUrl.Contains(".webm"))
                    {
                        <source src="@videoUrl" type="video/webm">
                    }
                    Your browser does not support the video tag.
                </video>
            </div>
        }
        else
        {
            <a href="@pageItem.Url()">
                <div class="block-image" style="background:#@backgroundColor">
                    <div class="blockTitle" style="color:#@fontColor">@title</div>
                    <div class="blockSubTitle" style="color:#@fontColor">@subTitle</div>
                    <div class="blockText" style="color:#@fontColor">
                        @Html.Raw(@text)
                    </div>
                </div>
            </a>
        }
    </div>

}
catch (Exception e)
{
}




