﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
    var pageItem = ViewBag.page;
    string youtubeVideoID = "";
    try {
        youtubeVideoID = pageItem.ScYoutubeVideoID;
    }
    catch (Exception e) { }
    string backgroundImage_url = "";
    try {
        backgroundImage_url = pageItem.ScBackgroundImage.Url;
    }
    catch (Exception e) { }
    string fontColor = "";
    try {
        fontColor = pageItem.ScFontColor;
        fontColor = fontColor == "" ? "000000" : fontColor;
    }
    catch (Exception) { }
    string backgroundColor = "";
    try {
        backgroundColor = pageItem.ScBackgroundColor;
        backgroundColor = backgroundColor == "" ? "ffffff" : backgroundColor;
    }
    catch (Exception) { }
    string title = "";
    try {
        title = pageItem.ScTitle;
    }
    catch (Exception) { }
    string subTitle = "";
    try {
        subTitle = pageItem.ScSubTitle;
    }
    catch (Exception) { }
    string text = "";
    try {
        text = pageItem.ScText;
    }
    catch (Exception) { }

}

@try {
    if (youtubeVideoID != "") {
        var url = "https://www.youtube.com/embed/" + youtubeVideoID + "?rel=0";
        <div class="mediumblockgeneral col-md-6">
            <div class="mediumblock youtube-player" style="position: relative;">
                <iframe src=@url frameborder="0" allowfullscreen style="height: 500px;"></iframe>
            </div>
        </div>
    }
    else if (backgroundImage_url != "") {
        <div class="mediumblockgeneral col-md-6">
            <a href="@pageItem.Url()">
                <div class="mediumblock block-image" style="background-image:url('@backgroundImage_url')">
                    <div class="blockTitle" style="color:#@fontColor">@title</div>
                    <div class="blockSubTitle" style="color:#@fontColor">@subTitle</div>
                    <div class="blockText" style="color:#@fontColor">@text</div>
                </div>
            </a>
        </div>
    }
    else {
        <div class="mediumblockgeneral col-md-6">
            <a href="@pageItem.Url()">
                <div class="mediumblockv block-image" style="background:#@backgroundColor">
                    <div class="blockTitle" style="color:#@fontColor">@title</div>
                    <div class="blockSubTitle" style="color:#@fontColor">@subTitle</div>
                    <div class="blockText" style="color:#@fontColor">@text</div>
                </div>
            </a>
        </div>
    }
}
catch (Exception e) {
}
