﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels

@{
                /**/

                var pageItem = ViewBag.page;
                string youtubeVideoID = "";
                try
                {
                    youtubeVideoID = pageItem.ScYoutubeVideoID;
                }
                catch (Exception e) { }
                string backgroundImage_url = "";
                try
                {
                    backgroundImage_url = pageItem.ScBackgroundImage.Url;
                }
                catch (Exception e) { }
                string fontColor = "";
                try
                {
                    fontColor = pageItem.ScFontColor;
                    fontColor = fontColor == "" ? "000000" : fontColor;
                }
                catch (Exception) { }
                string backgroundColor = "";
                try
                {
                    backgroundColor = pageItem.ScBackgroundColor;
                    backgroundColor = backgroundColor == "" ? "ffffff" : backgroundColor;
                }
                catch (Exception) { }
                string title = "";
                try
                {
                    title = pageItem.ScTitle;
                }
                catch (Exception) { }
                string subTitle = "";
                try
                {
                    subTitle = pageItem.ScSubTitle;
                }
                catch (Exception) { }
                string text = "";
                try
                {
                    text = pageItem.ScText;
                }
                catch (Exception) { }

}
@if (subTitle != "" || title != "" || text != "")
{
    <a href="@pageItem.Url()">
        <div class="subCatalogItem @pageItem.Parent.Name.Replace(" ","")" style="background:#@backgroundColor">
            @if (backgroundImage_url != "")
            {
                <div class="subCatalogImage col-xs-12 col-md-4" style="background-image:url('@backgroundImage_url')"></div>
            }
            <div class="subCatalogContent @(backgroundImage_url == "" ? "col-xs-12 col-md-12" : "col-xs-12 col-md-8")">
                <div class="subCatalogTitle" style="color:#@fontColor">@title</div>
                <div class="subCatalogSubTitle" style="color:#@fontColor">@subTitle</div>
                <div class="subCatalogText" style="color:#@fontColor">@text</div>
            </div>
        </div>
    </a>

}
