﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    Layout = "Master.cshtml";
}




<link rel="stylesheet" type="text/css" href="~/css/CatalogRepository.css">

<div class="container" style="max-width: 1200px;background-color: white;">
    @Html.Partial("~/Views/Partials/_BreadcrumbNavigation.cshtml")
    <div id="CatalogSection" style="@(Model.Value<Boolean>("showSectionHeader") ? "" : "margin-block-start: 120px;")">
        <div class="filterdiv col-sm-6 col-xs-12" style="padding-top:20px;padding-bottom:20px;text-align:right;float:right;">
            <div class="input-group">
                <input type="text" id="searchInput" class="form-control pull-right" aria-describedby="searchAddon">
                <span id="searchAddon" class="input-group-addon">
                    <span class="fa fa-search"></span>
                </span>
            </div>
        </div>

        <div class="dropdown col-sm-6 col-xs-12">
            <button class="btn dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Catálogos
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="margin-left:15px;">
                @foreach (var item in Model.Children)
                {
                    <li><a id="@item.Name.Replace(" ","")" onclick="filterCatalogs(this)">@item.Name</a></li>
                }
            </ul>
        </div>



        <div id="Tipo1" class="tabcontent">
            <div class="blockcontainer col-xs-12">
                @foreach (var item in Model.Children)
                {
                    foreach (var subItem in item.Children)
                    {

                        ViewBag.page = subItem;
                        @Html.Partial("_ShortcutCatalog")
                    }
                }
            </div>
        </div>
    </div>





</div>


<style>
    .subCatalogItem {
        float: left;
        margin-bottom: 40px;
        background-color: white;
        box-shadow: 10px 10px 5px grey;
        border-radius: 5px;
        width: 100%;

        display: flex;
        height: auto;
       
    }

    .subCatalogImage > img {
        max-width: 200px;
    }

    .subCatalogImage, .subCatalogContent {
        display: inline;
    }

    .subCatalogImage {
        /*height: 220px;*/
        background-size: cover;
        border-radius: 5px;

        height:auto;
        max-height: unset;
        display: grid;
        min-height: 150px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }

    .subCatalogTitle {
        margin-top: 30px;
        margin-bottom: 20px;
        font-size: 20px;
        font-family: 'Clan Medium';
    }

    /*.blockcontainer a, .blockcontainer a:hover {
        color: initial;
    }*/

    .subCatalogText {
        color: grey;
        /*font-family: ClanPro-News;*/
        font-family: 'Clan Book';
    }

    #searchInput{
        border-radius: 5px;
        height: 40px;
        padding: 5px;
        z-index: 0;
    }


    #CatalogSection{
        /*background-color: lightgray;*/
        float: left;
        padding: 20px;
        width: 100%;
    }
</style>

<script>

    $("#searchAddon").click(function () {
        filterfcn();
    });

    $('#searchInput').keydown(function (event) {
        //alert('ya');
        var keyCode = (event.keyCode ? event.keyCode : event.which);
        if (keyCode == 13) {
            filterfcn();
        }
    });


    function filterfcn() {
        var tosearch = $("#searchInput").val();

        //$(".catalogItem:contains('Solution 1')").css("display", "none")

        $(".subCatalogItem").css("display", "none");

        $(".subCatalogItem:contains('" + tosearch + "')").css("display", "block");

        //scroll to window
        $('html,body').animate({
            scrollTop: $("#CatalogSection").offset().top - 100
        },
        'slow');
    }


    function openCity(evt, cityName) {
        // Declare all variables
        var i, tabcontent, tablinks;

        // Get all elements with class="tabcontent" and hide them
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }

        // Get all elements with class="tablinks" and remove the class "active"
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }

        // Show the current tab, and add an "active" class to the button that opened the tab
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }

    function filterCatalogs(obj) {
        var catalog = obj.id;

        //scroll to window
        $('html,body').animate({
            scrollTop: $("#CatalogSection").offset().top - 100
        },
        'slow');

        //show selected subCatalog
        $('.subCatalogItem').hide();
        $('.' + catalog).show();

        //clear input
        $('#searchInput').val('');
    }

</script>