﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    Layout = "Master.cshtml";

    string linkedin__image_url = "";
    string livro_img_url = "";

    try
    {

        livro_img_url = Model.Value<IPublishedContent>("livroReclamacoesImg").Url();
        linkedin__image_url = Model.Value<IPublishedContent>("imagemLinkedin").Url();
    }
    catch (Exception) { }

    var textSize = 0;
    var titleSize = 0;
    var textColor = "";
    var titleColor = "";
    try
    {
        textSize = Model.Value<int>("textSize");
        titleSize = Model.Value<int>("titleSize");
        textColor = Model.Value<String>("textColor");
        titleColor = Model.Value<String>("titleColor");
        
        
    }
    catch (Exception) { }

}
<div class="container" style="max-width: 1200px;background-color: white;">


    @* #region body *@

    <div class="blockcontainer customContainer" style="@(Model.Value<Boolean>("showSectionHeader") ? "" : "margin-block-start: 120px;")">
        @Html.Partial("~/Views/Partials/_BreadcrumbNavigation.cshtml")

        <div class="subContainerHeader">
            <div class="subContainerHeaderLeft" style="@(titleColor == "" ? "color:#00aaff;" : "color:#" + titleColor + ";") @(titleSize > 0 ? "fontSize:" + titleSize + "px;" : "font-size:26px;")">@Model.Name</div>
        </div>


        <div class="row" style="margin-top: 15px;">
            <div class="col-xs-12 @(linkedin__image_url == "" ? "col-md-6" : "col-md-5")">
                <div class="mapouter">
                    <div class="gmap_canvas"><iframe width="570" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=engie%20portugal&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe></div>
                    <style>


                        .mapouter {
                            text-align: right;
                            height: 300px;
                            width: 100%;
                        }

                        .gmap_canvas {
                            overflow: hidden;
                            background: none !important;
                            height: 300px;
                            width: 100%;
                        }
                    </style>
                </div>
            </div>
            <div class="col-xs-12 @(linkedin__image_url == "" ? "col-md-6" : "col-md-5")">
                <h1 class="title-engie" style="color:#afafaf;">Contactos</h1>
                <div class="contact-block">
                    <img src="~/images/ic_place_black_24px.svg" />
                    @Model.Value("address")
                </div>
                <div class="contact-block">
                    <img src="~/images/ic_email_black_24px.svg" />
                    <a href="mailto:@(Model.Value("emailAddress"))">
                        @(Model.Value("emailAddress"))
                    </a>
                </div>
                <div class="contact-block">
                    <img src="~/images/ic_phone_black_24px.svg" />
                    @(Model.Value("phoneNumber"))
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-12" style="margin-top:10px;">
                <a href="https://www.livroreclamacoes.pt/inicio">
                    <img src="@livro_img_url" alt="Livro de Reclamações" />
                </a>
            </div>
            </div>
            <div class="layout-text" style="padding-top:10px;@(textColor == "" ? "color:#333" : "color:#"+textColor);@(textSize > 0 ? "font-size:"+textSize+"px" : "font-size:16px");">
                @Model.Value("text")
            </div>


            @{
                var children = Model.Children;
                foreach (var item in children)
                {
                    <div class="blockcontainer col-md-12" style="background:#@(item.HasValue("backgroundColor") ? @Model.Value("backgroundColor") : "")">
                        @if (Model.Value<string>("youtubeVideoID")!= "")
                        {
                            var url = "https://www.youtube.com/embed/" + Model.Value<string>("youtubeVideoID") + "?rel=0";
                            <div class="youtube-player" style="position: relative;">
                                <iframe src=@url frameborder="0" allowfullscreen></iframe>
                            </div>
                        }
                        else
                        {
                            <section class="section">
                                <div class="layout-richtext" style="color:#@Model.Value("fontColor")">@Model.Value("text")</div>
                            </section>
                        }

                    </div>
                }
            }


        </div>
        @* #endregion body *@
    </div>
