﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    Layout = "Master.cshtml";
}

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">

<style>
    .documentCategoryMasterContainer {
        display: none;
    }




    .documentCategoryTitle {
        margin-top: 50px;
    }

        .documentCategoryTitle:before {
            content: '';
            display: block;
            background: #000000;
            border-radius: 5px;
            display: block;
            height: 10px;
            width: 100px;
            margin: 0 0 20px 0;
        }

    


    @@media(max-width: 1199px) {
        .documentCategoryContainer > .smallDocuments:nth-child(n+5) {
            margin-top: 15px;
        }
    }

    @@media(max-width: 991px) {
        .documentCategoryContainer > .smallDocuments:nth-child(n+3) {
            margin-top: 15px;
        }
    }

    @@media(max-width: 767px) {
        .documentCategoryContainer > .smallDocuments:not(:first-child) {
            margin-top: 15px;
        }
    }
</style>


<div style="background-color: #ededed;">
    <div class="container" style="max-width: 1200px;background-color: white;">
        <div class="blockcontainer customContainer" style="@(Model.Value<bool>("showSectionHeader") ? "" : "margin-block-start: 120px;")">
            @Html.Partial("~/Views/Partials/_BreadcrumbNavigation.cshtml")
            @foreach (var documentCategory in Model.Children)
            {
                // check if we need to give larger dimensions to the publication
                var giveHighlightToCategory = documentCategory.HasValue("giveHighlightToCategory")
                    ? (bool)documentCategory.Value("giveHighlightToCategory")
                    : false;

                <div class="documentCategoryMasterContainer" style="visibility:hidden;">
                    <h1 class="documentCategoryTitle ">@documentCategory.Name</h1>
                    <h3>@documentCategory.Value("subtitle")</h3>

                    <div class="row documentCategoryContainer">
                        @* Show documents *@
                        @foreach (var documentItem in documentCategory.Children)
                        {
                            var file = documentItem.Value("file");
                            var previewImageUrl = "";
                            try
                            {
                                //previewImageUrl = Umbraco.TypedMedia((int)Int32.Parse(documentItem.previewImage.ToString()))
                                //    .GetCropUrl(400, giveHighlightToCategory ? 600 : 200);
                                previewImageUrl = documentItem.Value<IPublishedContent>("previewImage").Url();
                            }
                            catch (Exception e) { }

                            if (file != "" && previewImageUrl != "")
                            {
                                if (giveHighlightToCategory)
                                {
                                    <div class="col-sm-4 col-xs-12" style="text-align:center;">
                                        <a href="@file" target="_blank">
                                            <img src="@previewImageUrl" />
                                            @*<div style="height: 600px;max-width:400px;">
                                            <div class="fitImage fitImageCenter fitImageCover" style="background-image:url('@previewImageUrl');"></div>
                                        </div>*@
                                        </a>
                                        <h3><a href="@file" target="_blank">@documentItem.Name</a></h3>
                                    </div>
                                }
                                else
                                {
                                    <div class="col-md-3 col-sm-6 col-xs-12 smallDocuments">
                                        <div class="row">

                                            <div class="col-xs-6">
                                                <a href="@file" target="_blank">
                                                    <img src="@previewImageUrl" style="max-height: 200px;" />
                                                </a>

                                            </div>

                                            <div class="col-xs-6">
                                                <h4>@documentItem.Name</h4>
                                                <div><h5 style="display:inline-block;margin-right:10px;">Download</h5><a href="@file" target="_blank"><i class="far fa-arrow-alt-circle-down fa-2x"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }

                        }
                    </div>
                </div>
            }

        </div>

    </div>
    


</div>


<script>
    //check if container starts hidden (with masterContainer class) or showing.
    // Useful for the next function - window scroll.

        var browserHeight = window.innerHeight;
        var containers = $('.documentCategoryMasterContainer');
        for (var i = 0; i < containers.length; i++) {
            var container = containers.eq(i);

            container.css('display', 'block'); //to get offset to top

            var topDistance = container.offset().top;
            var containerHeight = container.innerHeight();

            container.css({ 'visibility': '', 'display': ''});

            if (topDistance <= browserHeight) {
                container.removeClass('documentCategoryMasterContainer');
            }
        }


    $(window).scroll(function () {
        var bottom = $(window).height() + $(window).scrollTop() >= $(document).height() - 100;

        if (bottom) {
            $('.documentCategoryMasterContainer').first().addClass('fadeInUp').removeClass("documentCategoryMasterContainer");
        }
    });
</script>