﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core;
@using Umbraco.Cms.Core.Models

@{
    Layout = "Master.cshtml";
    var home = Model;

    string linkedin_url = "";
    try
    {
        linkedin_url = home.Value<String>("uRLLinkedin");
    }
    catch (Exception) { }
    string linkedin__image_url = "";
    try
    {
        var temp = Model.Value<IPublishedContent>("imagemLinkedin");
        linkedin__image_url = temp.Url();
    }
    catch (Exception) { }
    string linkedin_text = "";
    try
    {
        linkedin_text = home.Value<String>("textLinkedin");
    }
    catch (Exception) { }

}




<style>
    #homepageShortcuts > .col-xs-12:nth-child(n+5) {
        margin-top: 30px;
    }

    @@media(max-width: 1199px) {
        #homepageShortcuts > .col-xs-12:nth-child(4) {
            margin-top: 30px;
        }
    }

    @@media(max-width: 991px) {
        #homepageShortcuts > .col-xs-12:nth-child(3) {
            margin-top: 30px;
        }
    }

    @@media(max-width: 767px) {
        #homepageShortcuts > .col-xs-12:nth-child(2) {
            margin-top: 30px;
        }
    }

     #Title:before, #Title:after {
        background:#@Model.Value("fontColor");
    }
</style>

<body style="background-color: #ededed;">
    <div class="container customContainer" style="background-color: white;">
        <div style="@(Model.Value<Boolean>("showSectionHeader") ? "" : "margin-block-start: 120px;")">

            <div id="homepageShortcuts" class="row">
                @{
                    var content = Model.Value<IEnumerable<IPublishedContent>>("content");
                    foreach (var item in content)
                    {
                        ViewBag.page = item;
                        @Html.Partial("_Shortcut")
                    }
                }
            </div>
        </div>
    </div>
</body>

