﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core;
@using Umbraco.Cms.Core.Models
@using Newtonsoft.Json
@{
    Layout = null;

    // Get basic design settings from the homepage
    //ContentModels.Home home = Model.Content.Site() as ContentModels.Home;
    //var colorTheme = Umbraco.GetPreValueAsString(home.ColorTheme);
    //var font = Umbraco.GetPreValueAsString(home.Font);
    var homePage = Model.Root();
    var isHomePage = Model.IsDocumentType("homePage");
    var Splash = homePage.Children.Where(x => x.Name == "Soluções" || x.Name == "Solutions" ).FirstOrDefault();
    var SplashId = Splash.Id;
    IEnumerable<IPublishedContent> linksFooter = new List<IPublishedContent>();
    try
    {
        linksFooter = homePage.Value<IEnumerable<IPublishedContent>>("contentLinks");

    }
    catch (Exception)
    {
    }

    var LogoWhite_src = "";
    try
    {
        LogoWhite_src = homePage.Value<IPublishedContent>("logoWhite").Url();

    }
    catch (Exception)
    {
    }
    var LogoBlue_src = "";
    try
    {
        LogoBlue_src = homePage.Value<IPublishedContent>("logoBlue").Url();

    }
    catch (Exception)
    {
    }
     var LogoBottom_src = "";
    try
    {
        LogoBottom_src = homePage.Value<IPublishedContent>("logoBottom").Url();

    }
    catch (Exception)
    {
    }
    //var CentroHome = homePage.Children.Where(c => c.Name.Equals("Centro")).FirstOrDefault();

    string requestUrl = $"{Context.Request.Scheme}://{Context.Request.Host.ToString()}{Context.Request.PathBase}{Context.Request.Path}";

    #region language
    var allPublishedContent = new List<IPublishedContent>();
    try 
    {
        Umbraco.ContentAtRoot().ToList().ForEach(r => allPublishedContent.Add(r));
    }
    catch (Exception) { }

    System.Globalization.CultureInfo cultureInfo = System.Threading.Thread.CurrentThread.CurrentCulture;

    var pageURL = "";
    var pages = new List<string>(requestUrl.Split('/'));
    //if there is language setup
    if ((pages.Count - 1) >= 2) 
    {
        pageURL = String.Join("/", pages.Skip(2));
    }
    #endregion language

}

<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <script src="~/scripts/jquery-3.7.1.js"></script>

    <style>
        #languageMenuContainer {
            display: inline-block;
            /*cursor: pointer;*/
            position: absolute;
            /*right: 70px;*/
            right: 125px;
            top: 13px;
            z-index: 2;
            margin: 6px;
        }

            #languageMenuContainer > div {
                padding: 0 10px;
            }

            #languageMenuContainer > div:nth-child(n+2) {
                border-left: 2px solid white;
            }
    </style>
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153500277-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-153500277-1');
    </script>
</head>

<body class="frontpage">
    <header class="header">
        <div class="nav-container containerEngie">
            <a href="@homePage.Url()">
                <div id="nav-logo-container">
                    <img id="Logo" src="@LogoWhite_src" />
                </div>
            </a>

            <div id="languageMenuContainer">
                @foreach (var language in allPublishedContent)
                {
                    var l = language.GetCultureFromDomains().Contains('-') ? language.GetCultureFromDomains().Split('-').FirstOrDefault().ToLower() : language.GetCultureFromDomains();
                    var isCurrentLanguage = cultureInfo.TwoLetterISOLanguageName == l;
                    <div style="display: inline-block;text-transform:uppercase;">
                        @if (!isCurrentLanguage)
                        {
                            @Html.Raw("<a href='" + language.Url() + "' style='" + (isCurrentLanguage ? "font-weight:800;" : "") + "'>")
                        }
                        @l
                        @if (!isCurrentLanguage)
                        {
                            @Html.Raw("</a>")
                        }
                    </div>
                }
            </div>

            <span class="btn-hamburguer-menu">
                MENU
                <a id="hamburger-icon" href="#" title="Menu">
                    <span class="line line-1"></span>
                    <span class="line line-2"></span>
                    <span class="line line-3"></span>
                </a>
            </span>
        </div>

        <div class="mobile-nav containerEngie">
            <nav class="nav-bar nav-bar-extend">
                @Html.Partial("~/views/partials/navigation/topNavigation.cshtml")
            </nav>
        </div>
    </header>

    <main>
        @{
            ViewBag.page = Model;
            @Html.Partial("_SectionHeader")
        }
        @RenderBody()
    </main>
    <!-- Footer -->
    <footer class="footer containerEngie" style="max-width: @(isHomePage ? "1440px" : "1200px");background-color: white;">

        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">

            <!-- Grid row -->
            <div class="row text-center">
                <img src="/images/brand-colours_v2.jpg" class="col-md-12" style="padding-top: 15px;padding-bottom: 15px;">
                <!-- Grid column -->
                <div class="col-xs-12 col-md-4">
                    <ul class="list-unstyled" style="text-align: left;">
                        <a class="gray" style="cursor:pointer;" href="https://www.engie.com" target="_blank" aria-hidden="true">www.engie.com</a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xs-12 col-md-4">
                    <ul class="list-unstyled">
                        @foreach (var item in linksFooter)
                        {
                            <li><a class="gray" href="@item.Url()">@item.Name</a></li>
                        }
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <div class="col-xs-12 col-md-4">
                    <ul class="list-unstyled" style="text-align: right;">
                        <a class="fa fa-linkedin " style="cursor:pointer;border: 1px solid;border-radius: 25px;padding: 10px;color: gray" href="https://pt.linkedin.com/company/cofely-pt-gdf-suez-group" target="_blank" aria-hidden="true"></a>
                    </ul>
                </div>
                <!-- Grid column -->
                <!-- Grid column -->
                <!-- Grid column -->
            </div>
            <!-- Grid row -->


            <div class="row">
                <div class="col-md-12 ">
                    <div class="full-bar mr-bottom mr-top"></div>
                </div>
                <div class="col-md-12">
                    <img src="@LogoBottom_src" alt="engie-logo-greyscale" width="86"/>
                    <p class="gray mr-bottom mr-top" style="font-size: 12px;">© 2019 ENGIE • All Rights Reserved</p>
                </div>
            </div>

        </div>
        <!-- Footer Links -->
    </footer>
    <!-- Footer -->
    @* ----------------------------------------- COOKIES ----------------------------------------------- *@


    <style>
        .cookie-bar {
            position: fixed;
            z-index: 100;
            left: 0;
            right: 0;
            bottom: 0;
            background: darkorange;
            display: none;
        }

        .cookie-close {
            display: inline-block;
            background: #fff;
            padding: 3px 12px;
            text-transform: uppercase;
            color: #d1a11f;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-size: 11px;
            -webkit-box-shadow: 2px 2px 0 0 #e6ba32;
            box-shadow: 2px 2px 0 0 #e6ba32;
            margin-left: 20px;
            cursor: pointer;
        }
    </style>


    @try
    {
        var titleCookies = String.Empty;
        try
        {
            titleCookies = homePage.Value("titleCookies").ToString();
        }
        catch (Exception e) { }

        var textCookies = String.Empty;
        try
        {
            textCookies = homePage.Value("textCookies").ToString();
        }
        catch (Exception e) { }

        var buttonTextCookies = String.Empty;
        try
        {
            buttonTextCookies = homePage.Value("buttonTextCookies").ToString();
        }
        catch (Exception e) { }

        var colorContainer = "fff";
        try
        {
            colorContainer = homePage.Value("colorContainer").ToString();
        }
        catch (Exception e) { }

        var fontColor = "000";
        try
        {
            fontColor = homePage.Value("fontColor").ToString();
        }
        catch (Exception e) { }

        var buttonColor = "00aaff";
        try
        {
            buttonColor = homePage.Value("buttonColor").ToString();
        }
        catch (Exception e) { }

        if (textCookies.Length > 0 && buttonTextCookies.Length > 0)
        {
            <div class="cookie-bar" style="background-color:#@colorContainer;">
                <div class="customContainer">
                    @if (titleCookies.Length > 0)
                    {
                        <h3 style="color:#@fontColor">@titleCookies</h3>
                    }
                    <div style="display:inline-flex;margin-bottom: 10px;">
                        <div class="cookie-content" style="color:#@fontColor;">
                            @Html.Raw(textCookies)
                        </div>
                        <div>
                            <div class="btn form-control" onclick="closeCookieAccept();"
                                 style="margin-left: 20px;color:#@fontColor;background-color:#@buttonColor;">
                                @buttonTextCookies
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
    catch (Exception e) { }
    <script>

        function setCookie(cname, cvalue, exdays) {
            var d = new Date();
            d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
            var expires = "expires=" + d.toUTCString();
            document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
            //console.log("Set Cook " + expires);
        }

        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') {
                    c = c.substring(1);
                }
                if (c.indexOf(name) == 0) {
                    return c.substring(name.length, c.length);
                }
            }
            return "";
        }

        window.onload = function () {
            if (getCookie("cookieAccept") == "") {
                $(".cookie-bar").slideDown("slow");
            }
        }

        function closeCookieAccept() {
            $(".cookie-bar").slideUp("slow");
            setCookie("cookieAccept", true, 1);

        }
    </script>

    @* ----------------------------------------- END COOKIES ----------------------------------------------- *@



    @* <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script> *@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"></script>
    <script src="@Url.Content("~/scripts/umbraco-starterkit-app.js")"></script>
    <script src="~/scripts/bootstrap.min.js"></script>

    <script>
    
    var hidden = 0;
    $(document).ready(function () {
        var width = $(window).width();
        if (width < 400) {
            $("#languageMenuContainer").attr("style", "display:none;");
        }
        var showHeader = @Html.Raw(JsonConvert.SerializeObject(Model.Value("showSectionHeader")));
        if (!showHeader) {
            $('#languageMenuContainer > div:nth-child(n+1)').css('color', 'black');
        }
        else {
            $('#languageMenuContainer > div:nth-child(n+1)').css('color', 'white');
        }
            var hamburger = $('#hamburger-icon, .btn-hamburguer-menu');
            hamburger.click(function () {
                hamburger.toggleClass('active');
                $(".btn-hamburguer-menu").toggleClass('btn-menu-active-colors');
                $('.mobile-nav').toggle();
               
                if (width < 400) {
                    if (hidden == 0) {
                        $("#languageMenuContainer").attr("style", "");
                        console.log("Entrou no IF");
                        hidden = 1;
                        console.log("Hidden", hidden);
                    }
                    else {
                        $("#languageMenuContainer").attr("style", "display:none;");
                         console.log("Entrou no IF");
                        hidden = 0;
                        console.log("Hidden", hidden);
                    }
                }
                return false;
            });
        });

    </script>

</body>

</html>


<script>
    var showHeader = @Html.Raw(JsonConvert.SerializeObject(Model.Value("showSectionHeader")));
    if (!showHeader) {
        $('.header').addClass('stickytop');
        $('.nav-link').addClass('blue');
        $('#languageMenuContainer > div:nth-child(n)').css('color', 'black');
        $('#languageMenuContainer > div:nth-child(n+1)').css('color', 'black');
        $('#languageMenuContainer > div:nth-child(n+2)').css('border-left-color', '#337ab7');
        $('#Logo').attr('src', "@LogoBlue_src");
        $('.btn-hamburguer-menu > a > span').addClass('bluebk');
        $('.btn-hamburguer-menu').addClass('btn-menu-scroll-colors');
    }

    $(function () {

        $(window).scroll(function () {
            if (showHeader) {
                if ($(this).scrollTop() > 0) { //290
                    $('.header').addClass('stickytop');
                    $('.nav-link').addClass('blue');
                    $('#languageMenuContainer > div:nth-child(n+1)').css('color', 'black');
                    $('#languageMenuContainer > div:nth-child(n+2)').css('border-left-color', '#337ab7');
                    $('#Logo').attr('src',  "@LogoBlue_src");
                    $('.btn-hamburguer-menu > a > span').addClass('bluebk');
                    $('.btn-hamburguer-menu').addClass('btn-menu-scroll-colors');
                }
                else {
                    $('.header').removeClass('stickytop');
                    $('.nav-link').removeClass('blue');
                    $('#languageMenuContainer > div:nth-child(n+1)').css('color', 'white');
                    $('#languageMenuContainer > div:nth-child(n+2)').css('border-left-color', 'white');
                    $('#Logo').attr('src', "@LogoWhite_src");
                    $('.btn-hamburguer-menu > a > span').removeClass('bluebk');
                    $('.btn-hamburguer-menu').removeClass('btn-menu-scroll-colors');
                }
            }
            else {
                $('.header').addClass('stickytop');
                $('.nav-link').addClass('blue');
                $('#languageMenuContainer > div:nth-child(n+1)').css('color', 'black');
                $('#languageMenuContainer > div:nth-child(n+2)').css('border-left-color', '#337ab7');
                $('#Logo').attr('src', "@LogoBlue_src");
                $('.btn-hamburguer-menu > a > span').addClass('bluebk');
                $('.btn-hamburguer-menu').addClass('btn-menu-scroll-colors');
            }
        });
    });
</script>

                        