﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    Layout = "Master.cshtml";
    int pageSize;// How many items per page
    int page;// The page we are viewing

    /* Set up parameters */
    try
    {
        if (!int.TryParse(Model.Value("pageSize").ToString(), out pageSize))
        {
            pageSize = 6;
        }
    }
    catch (Exception e)
    {
        pageSize = 6;
    }

    if (!int.TryParse(Context.Request.Query["page"].ToString(), out page))
    {
        page = 1;
    }


    var newsItens = Model.Children.Where(x => x.IsVisible()).OrderBy(z => z.CreateDate).Reverse();

    int totalNodes = newsItens.Count();
    int totalPages = (int)Math.Ceiling((double)totalNodes / (double)pageSize);

    /* Bounds checking */

    if (page > totalPages)
    {
        page = totalPages;
    }
    else if(page < 1)
    {
        page = 1;
    }


}

<div class="container" style="max-width: 1200px;background-color: white;">
    <div class="blockcontainer customContainer" style="@(Model.Value<bool>("showSectionHeader") ? "" : "margin-block-start: 120px;")">
        @Html.Partial("~/Views/Partials/_BreadcrumbNavigation.cshtml")
        <div class="subContainerHeader">
            <div class="subContainerHeaderLeft">@Model.Name</div>
        </div>

        @foreach (var item in newsItens.Skip((page - 1) * pageSize).Take(pageSize))
        {
            string newsItemImage = "";
            try
            {
                newsItemImage = item.Value<IPublishedContent>("imageNews").Url();
            }
            catch (Exception) { }
            string newsItemTitle = "";
            try
            {
                newsItemTitle = item.Value("TitleNews").ToString();
            }
            catch (Exception) { }
            string newsItemSomeText = "";
            try
            {
                newsItemSomeText = item.Value("PreviewNews").ToString();
            }
            catch (Exception) { }

            string newsItemDate = "";
            try
            {
                newsItemDate = item.CreateDate.ToString("dd-MM-yyyy");
            }
            catch (Exception) { }
            <div class="row mr-bottom">
                <div class="col-md-2" style="text-align: center;">

                    <a href="@item.Url()"><img src="@newsItemImage" /></a>
                </div>
                <div class="col-md-10">
                    <div class="news-title-preview"><a href="@item.Url()">@newsItemTitle</a></div>
                    <div class="news-body-preview">@newsItemSomeText</div>
                    <div class="news-date-preview">@newsItemDate</div>
                </div>
                <div class="col-md-12 ">
                    <div class="news-full-bar-preview mr-bottom mr-top"></div>
                </div>
            </div>
        }
            <div class="row" style="text-align: center;">
                <div class="pagination">
                    <a href="?page=@(page-1)" class=@(page > 1 ? "" : "pagination-disable")>&laquo;</a>
                    @for (int p = 1; p < totalPages + 1; p++)
                    {
                        string selected = (p == page) ? "active" : String.Empty;
                        <a class="@selected" href="?page=@p">@p</a>
                    }
                    <a href="?page=@(page+1)" class=@(page < totalPages ? "" : "pagination-disable")>&raquo;</a>
   
                </div>
            </div>
    </div>
</div>