﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    var item = Model;
    Layout = "Master.cshtml";
    string newsItemImage = "";
    try
    {
        newsItemImage = item.Value<IPublishedContent>("imageNews").Url();
    }
    catch (Exception) { }
    string newsItemTitle = "";
    try
    {
        newsItemTitle = item.Value("TitleNews").ToString();
    }
    catch (Exception) { }
    string newsItemSomeText = "";
    try
    {
        newsItemSomeText = item.Value("PreviewNews").ToString();
    }
    catch (Exception) { }

    string newsItemDate = "";
    try
    {
        newsItemDate = item.CreateDate.ToString("dd-MM-yyyy");
    }
    catch (Exception) { }
    string youtubeVideoID = "";
    try
    {
        youtubeVideoID = item.Value("youtubeVideoIDNews").ToString();
    }
    catch (Exception e) { }

    string videoUrl = "";
    try
    {
        videoUrl = item.Value<IPublishedContent>("urlVideoPlayer").Url();
    }
    catch (Exception e) { }

    var textSize = 0;
    var titleSize = 0;
    var textColor = "";
    var titleColor = "";
    try
    {
        textSize = Model.Value<int>("textFontSize");
        titleSize = Model.Value<int>("titleFontSize");
        textColor = Model.Value<String>("textFontColor");

        titleColor = Model.Value<String>("titleFontColor");


    }
    catch (Exception) { }
}

<div class="container" style="max-width: 1200px;background-color: white;">
    <div class="blockcontainer customContainer" style="@(item.Value<bool>("showSectionHeader") ? "" : "margin-block-start: 120px;")">
        @Html.Partial("~/Views/Partials/_BreadcrumbNavigation.cshtml")
        <div class="subContainerHeader">
            <div class="subContainerHeaderLeft" style="@(titleColor == "" ? "color:#00aaff" : "color:#" +titleColor);@(titleSize > 0 ? "font-size:"+titleSize+"px" : "font-size:26px");">@newsItemTitle</div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="news-body-preview" style="@(textColor == "" ? "color:#333" : "color:#" +textColor);@(textSize > 0 ? "font-size:"+textSize+"px" : "font-size:14px");">@Html.Raw(item.Value("textNews").ToString())</div>
            </div>
        </div>
        @if (youtubeVideoID != "")
        {
            var url = "https://www.youtube.com/embed/" + youtubeVideoID + "?rel=0";
            <div class="row">
                <div class="col-md-12">
                    <div class="youtube-player" style="position: relative;height: 400px;">
                        <iframe src=@url frameborder="0" allowfullscreen style="height: 400px;"></iframe>
                    </div>
                </div>
            </div>
        }
        @if (videoUrl != "")
        {

            <div class="row">
                <div class="col-md-12">
                    <div style="position: relative;height: 400px;margin-top:30px;background-color:black;">

                        <video style="height:400px;width:100%;" controls>
                            @if (videoUrl.Contains(".mp4"))
                            {
                                <source src="@videoUrl" type="video/mp4">
                            }
                            else if (videoUrl.Contains(".ogg"))
                            {
                                <source src="@videoUrl" type="video/ogg">
                            }
                            else if (videoUrl.Contains(".webm"))
                            {
                                <source src="@videoUrl" type="video/webm">
                            }
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        }

        <a class="btn-back-news mr-top" href="@Model.Parent.Url()"><i class="fa fa-arrow-left"></i></a>
    </div>
</div>
