﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    Layout = "Master.cshtml";


    var textSize = 0;
    var titleSize = 0;
    var textColor = "";
    var titleColor = "";
    try
    {
        textSize = Model.Value<int>("textSize");
        titleSize = Model.Value<int>("titleSize");
        textColor = Model.Value<String>("textColor");

        titleColor = Model.Value<String>("titleColor");


    }
    catch (Exception) { }

    string videoUrl = "";
    try
    {
        videoUrl = Model.Value<IPublishedContent>("urlVideoPlayer").Url();
    }
    catch (Exception e) { }

}
<div class="container" style="max-width: 1200px;background-color: white;">


    @* #region body *@

    <div class="blockcontainer customContainer" style="@(Model.Value<bool>("showSectionHeader") ? "" : "margin-block-start: 120px");)">
        @Html.Partial("~/Views/Partials/_BreadcrumbNavigation.cshtml")

        <div class="subContainerHeader">
            <div class="subContainerHeaderLeft" style="@(titleColor == "" ? "color:#00aaff;" : "color:" + titleColor + ";") @(titleSize > 0 ? "fontSize:" + titleSize + "px;" : "font-size:26px;")">@Model.Name</div>
        </div>

        <div class="layout-text" style="@(textColor == "" ? "color:#333" : "color:"+textColor);@(textSize > 0 ? "font-size:"+textSize+"px" : "font-size:16px");">
            @Model.Value("text")
        </div>


        @{
            var children = Model.Children;
            foreach (var item in children)
            {
                <div class="blockcontainer col-md-12" style="background:#@(item.HasValue("backgroundColor") ? @item.Value("backgroundColor") : "")">
                    @if (Model.Value<string>("youtubeVideoID") != "")
                    {
                        var url = "https://www.youtube.com/embed/" + Model.Value<string>("youtubeVideoID") + "?rel=0";
                        <div class="youtube-player" style="position: relative;">
                            <iframe src=@url frameborder="0" allowfullscreen></iframe>
                        </div>
                    }
                    else
                    {
                        <section class="section">
                            <div class="layout-richtext" style="color:#@Model.Value("fontColor")">@item.Value("text")</div>
                        </section>
                    }

                </div>
            }
        }

        @if (videoUrl != "")
        {

            <div class="row">
                <div class="col-md-12">
                    <div style="position: relative;height: 400px;margin-top:30px; margin-bottom:30px;">

                        <video style="height:400px;width:100%;" controls>
                            @if (videoUrl.Contains(".mp4"))
                            {
                                <source src="@videoUrl" type="video/mp4">
                            }
                            else if (videoUrl.Contains(".ogg"))
                            {
                                <source src="@videoUrl" type="video/ogg">
                            }
                            else if (videoUrl.Contains(".webm"))
                            {
                                <source src="@videoUrl" type="video/webm">
                            }
                            Your browser does not support the video tag.
                        </video>
                    </div>
                </div>
            </div>
        }
        <div class="blockcontainer container">
            <div class="row">
                @{

                    var optionalContent = Model.Value<IEnumerable<IPublishedContent>>("optionalContent");
                    if (optionalContent != null)
                    {
                        foreach (var item in optionalContent)
                        {
                            ViewBag.page = item;
                            @Html.Partial("_Shortcut")
                        }
                    }

                }
            </div>
        </div>
    </div>
    @* #endregion body *@
</div>

