﻿@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels
@{
    Layout = "Master.cshtml";

    var site = Model;

    var vipProfiles = new List<IPublishedContent>();
    try
    {
        vipProfiles = site.Children.Where(p => p.Value<bool>("hasVIPStatus")).ToList();
    }
    catch (Exception e) { }

    var normalProfiles = new List<IPublishedContent>();
    try
    {
        normalProfiles = site.Children.Where(p => !p.Value<bool>("hasVIPStatus")).ToList();
    }
    catch (Exception e) { }
}

<style>
    .invertPhotoBox {
        float: right;
    }

    .profiles > .col-sm-6:nth-child(2n-1) {
        padding-right: calc(15px + 15px/2);
    }

    .profiles > .col-sm-6:nth-child(2n) {
        padding-left: calc(15px + 15px/2);
    }

    .profiles > .col-sm-6:nth-child(n+3) {
        margin-top: 20px;
    }

    .profile .col-sm-6 {
        padding-left: 0;
        padding-right: 0;
    }

    .profile .profileTextContainer {
        height: 350px;
        text-align: left;
        line-height: 350px;
        padding-left: 15px;
        padding-right: 15px;
    }

    @@media(max-width: 767px) {
        .profiles > .col-sm-6:nth-child(n+1) {
            margin-top: 20px;
        }

        .invertPhotoBox {
            float: initial;
        }

        .profileTextContainer {
            height: auto;
            line-height: unset;
            padding: 25px;
        }
    }
</style>


@functions {
    private void drawProfile(IPublishedContent profile, bool invertPhotoBox)
    {
        var photoUrl = "";
        try
        {
            //photoUrl = Umbraco.TypedMedia((int)Int32.Parse(profile.GetPropertyValue("photo").ToString()))
            //    .GetCropUrl(900, 350);
            photoUrl = profile.Value<IPublishedContent>("photo").Url();
        }
        catch (Exception e) { }

        var jobBackgroundColor = "fff";
        try
        {
            jobBackgroundColor = profile.Value<string>("jobBackgroundColor");
        }
        catch (Exception e) { }

        var nameFontColor = "000";
        try
        {
            nameFontColor = profile.Value<string>("nameFontColor");
        }
        catch (Exception e) { }

        var job = "";
        try
        {
            job = profile.Value<string>("job");
        }
        catch (Exception e) { }

        var jobFontColor = "000";
        try
        {
            jobFontColor = profile.Value<string>("jobFontColor");
        }
        catch (Exception e) { }

        <div class="col-sm-6 col-xs-12 profile">
            <div class="row">
                <div class="col-sm-6 col-xs-12 @(invertPhotoBox ? "invertPhotoBox" : "")" style="height: 350px;">
                    <div class="fitImage fitImageCenter fitImageCover" style="background-image:url('@photoUrl')"></div>
                </div>

                <div class="col-sm-6 col-xs-12 profileTextContainer" style="background-color:#@jobBackgroundColor;">
                    <div style="vertical-align: middle;display: inline-block;">
                        <h3 style="color:#@nameFontColor">@profile.Name</h3>
                        <h5 style="color:#@jobFontColor">@job</h5>
                    </div>
                </div>
            </div>
        </div>
    }
}



<div class="blockcontainer customContainer">

    @*<h1 style="text-align: center;">@CurrentPage.title</h1>*@

    @* Show VIP Profiles *@
    <div class="row profiles">
        @{
            var vipProfileCount = 0;
            foreach (var vipProfile in vipProfiles)
            {
                drawProfile(vipProfile, (vipProfileCount % 4) > 1);
                vipProfileCount++;
            }
        }
    </div>

    @* Show Normal Profiles *@
    <div class="row profiles" style="margin-top: 50px;">
        @{
            var normalProfileCount = 0;
            foreach (var normalProfile in normalProfiles)
            {
                drawProfile(normalProfile, (normalProfileCount % 4) > 1);
                normalProfileCount++;
            }
        }
    </div>
</div>